APP_NAME=
APP_ENV=
DEBUG=

DB_HOST=
DB_PORT=
DB_USER=
DB_PASSWORD=
DB_NAME=

JWT_SECRET_KEY=
JWT_ALGORITHM=
JWT_EXPIRE_MINUTES=


INITIAL_VIRTUAL_BALANCE=100000.00


BINANCE_API_BASE_URL=https://api.binance.com